/* bitches be like "yeah I know how to make a website :)" *uses fucking wordpress* */
/* general elements ******/
body {
    background: #000 url('bg.png') repeat fixed;  
    color: #fff;
    font-family: 'MS Gothic', sans-serif;
    font-size: 16px;
    margin: 20px auto;
    max-width: 450px;
}
a {
    color: #7331a5;
    text-decoration: none;
}
img {max-width: 100%;}
h1 {
    font-size: 24px;
    font-weight: normal;
    padding: 5px 10px;
    text-align: center;
}
h2 {
    font-size: 16px;
    font-weight: bold;
}
h1:before {
    content: url('froslass.png');
    padding: 0 10px 0 0;
    vertical-align: -50%;
}

/* eeeeee ******/
.content {
    background: #000;
    border: #4695ff solid 1px;
    padding: 0 1em;
}